@route "/Report/Issues/{id:Guid}"
@inject TollGateMaintenance.Models.TgmContext DB
@model Report
@functions {
    public Guid id { get; set; }

    public IActionResult OnGet()
    {
        CheckRole();
        var data = DB.Reports.Single(x => x.Id == id);
        return View(data);
    }
}
@{ 
    Layout = null; 
}
<table class="table doc-table">
    <colgroup>
        <col />
        <col />
        <col />
        <col style="width: 60px;" />
        <col />
        <col />
        <col style="width: 300px" />
        <col />
    </colgroup>
    <thead>
        <tr>
            <th>状态</th>
            <th>设备名称</th>
            <th>车道/位置</th>
            <th>设备数</th>
            <th>现象</th>
            <th>解决方案</th>
            <th>原始数据</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Issues.Object.OrderBy(x => x.IsSolved))
        {
            <tr class="@(x.IsSolved ? "solved" : "unsolved")">
                <td>
                    <select name="issolved" class="form-control" onchange="statusChanged(this)">
                        <!option value="true" @(x.IsSolved ? "selected" : "")>已解决</!option>
                        <!option value="false" @(x.IsSolved ? "" : "selected")>未解决</!option>
                    </select>
                </td>
                <td><input type="text" name="device" value="@x.Name" class="form-control" /></td>
                <td><input type="text" name="lane" value="@x.Lane" class="form-control" /></td>
                <td><input type="text" name="count" value="@x.Count" class="form-control" /></td>
                <td><input type="text" name="phenomenon" value="@x.Phenomenon" class="form-control" /></td>
                <td><input type="text" name="solution" value="@x.Solution" class="form-control" /></td>
                <td>@x.Raw <input type="hidden" name="raw" value="@x.Raw" /></td>
                <td><a href="#" class="btn btn-danger btn-xs" onclick="removeIssue(this)">删除</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <a class="btn btn-fill btn-primary" href="#" style="margin-left:8px" onclick="editReport('@Model.Id')">保存</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-success btn-xs" href="#" onclick="addRow(this)">添加</a>
            </td>
        </tr>
    </tfoot>
</table>